
main{
    padding-bottom: 150px;
}

main > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 90px;
}

h1{
    font-family: var(--titleFont), cursive;
    font-size: 64px;
    font-weight: 400;
    padding: 50px 0;
    color: var(--textColor);
}

#logo{
    max-width: 330px;
    width: 330px;
}

#linkDiv{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.button {
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 20px;
    padding: 20px 20px 20px 40px;
    background-color: var(--buttonColor);
    border: 2px solid var(--borderColor);
    font-family: var(--textFont), sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--accentColor);
    max-height: 65px;
}

p{
    margin: 0;
    font-size: 24px;
}

.button img {
    margin-right: 20px;
}

a{
    text-decoration: none;
}

.button:hover > p{
    text-decoration: underline var(--accentColor);
}

.button:hover {

}


@media (max-width: 768px) {

    #logo{
        width: 200px;
    }

    body {
        padding: 10px;
    }

    main > div{
        flex-direction: column-reverse;
    }

    .button{
        padding : 20px;
    }

    .button > p {
        font-size: 20px;
    }
}

@media (max-width: 480px) {


    h1{
        font-size: 42px;
    }

    #logo{
        max-width: 100px;
        width: 100%;
    }

    .button{
        padding: 15px 20px;
        border-radius: 15px;
    }

    .button > p{
       font-size: 14px;
    }

    .button > img {
        width: 16px;
        margin-right: 10px;
    }
}
