
#NameDiv{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-content: center;
}

#NameDiv > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0;
}

#NameDiv h1{
    font-family: var(--titleFont), cursive;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
}

#NameDiv h2{
    font-family: var(--textFont), sans-serif;
    font-size: 24px;
    font-weight: 200;
    margin: 0 0 0 5px;
}

#NameDiv img{
    width: 160px;
    max-width: 160px;
}

#book{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book > h2 {
    font-family: var(--titleFont), cursive;
    font-size: 64px;
    font-weight: 200;
    margin-bottom: 60px;
}

#photos{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 330px 330px 330px;
}

#caroussel{
    margin: 90px 0 60px 0;
    display: flex;
    gap: 7px;
}

#photos img{
    max-width: 330px;
    max-height: 330px;
    aspect-ratio: 1/1;
    transition: 0.5s;
}

#photos img:hover, #photoV img:hover, #photoH img:hover{
    transform: scale(1.05);
    z-index: 2;
}

#photoV img {
    object-fit: cover;
    width: 500px;
    height: 550px;
    aspect-ratio: 10/11;
    transition: 0.5s;
    position: relative;
}

#photoH img{
    object-fit: cover;
    width: 500px;
    height: 270px;
    transition: 0.5s;
    aspect-ratio: 50/27;
    position: relative;
}


#photoH {
    display: flex;
    flex-direction: column;
    gap: 7px;
}


.chevron{
    width: 45px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.chevron:hover{
    transform: scale(1.1);
}

#showImg{
    position: fixed;
    z-index: 5;
    width: 96vw;
    height: 100vh;
    top: 0;
    left : 0;
    margin : 0;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: none;
    justify-content: space-between;
    align-items: center;
    padding:  0 2em;

}

#bigImg{
    width: 46%;
}

#close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2em 2em 0 0;
    z-index: 10;
    width: 32px;
    transition: 0.5s ease-in-out;
}

#close:hover {
    cursor: pointer;
    transform: scale(1.1);
}


/* Media Queries */

@media (max-width: 768px) {

    /*------------------Name div-------------------------*/


    #NameDiv {
        align-items: center;
    }

    #NameDiv img {
        width: 120px;
        max-width: 450px;
    }

    #NameDiv h1 {
        font-size: 52px;
    }

    #NameDiv h2 {
        font-size: 16px;
    }


    /*-----------------------------Caroussel---------------------------*/

    #caroussel {
        align-items: center;
    }

    .chevron {
        display: none;
    }

    #photoH img{
        max-width: 300px;
        width: 100%;
    }

    #photoV img {
        max-width: 400px;
        width: 100%;
    }


    /*----------------------------Book---------------------------------*/

    #book > h2 {
        font-size: 52px;
    }

    #photos {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #photos img {
        max-width: 200px;
        width: 100%;
    }


    /*--------------------------Big Img------------------------------*/

    #showImg{
        padding: 0;
        width: 100vw;
    }

    #close{
        right: 15px;
    }

    #bigImg{
        width: 70%;
    }

    #showImgNext, #showImgPrev{
        display: initial;
    }

}




@media (max-width: 480px) {


    /*-----------------------------Name Div----------------------------*/
    #NameDiv h1 {
        font-size: 38px;
    }

    #NameDiv h2 {
        font-size: 16px;
    }

    /*------------------------------Carroussel--------------------------*/

    /*------------------------------Book-------------------------_------*/

    #book > h2 {
        font-size: 28px;
    }

    main {
        padding: 20px;
    }
}